Source: proxmox-kernel-meta
Section: admin
Priority: optional
Build-Depends: debhelper-compat (= 13),
               lintian
Standards-Version: 4.6.2
Maintainer: Proxmox Support Team <support@proxmox.com>

Package: proxmox-default-headers
Architecture: all
Section: admin
Provides: pve-headers
Priority: optional
Depends: proxmox-headers-6.2,
         ${misc:Depends}
Description: Default Proxmox Kernel Headers
 This is a metapackage which will install the kernel headers for the default
 Proxmox kernel series.

Package: proxmox-default-kernel
Architecture: all
Section: admin
Priority: optional
Depends: proxmox-kernel-6.2,
         ${misc:Depends}
Description: Default Proxmox Kernel Image
 This is a metapackage which will install the kernel image for the default
 Proxmox kernel series.
